<nav class="sidebar" [class.collapsed]="!isOpen()">
  <ul class="menu">
    <li *ngFor="let item of displayedMenuItems">
      <a
        [routerLink]="item.disabled ? null : item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: false}"
        class="menu-item"
        [class.disabled]="item.disabled"
        [attr.aria-disabled]="item.disabled"
        (click)="item.disabled ? $event.preventDefault() : null"
      >
        <span class="icon">{{ item.icon }}</span>
        <span class="label" *ngIf="isOpen()">{{ item.label }}</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer" *ngIf="isOpen()">
    <small>Version 1.0.0</small>
  </div>
</nav>
